

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.button {
  color: #fff;
  margin-right:1rem;
  text-transform:none;
  font-family: 'Montserrat', sans-serif;
}